.header-dark {
    padding-left: 35%;
}

.user-info {
    min-width: calc(100% - 10px * 2);
    font-size: 40px;
}

.user-info span:first-of-type {
    color: gray;
}

.user-info span:not(:first-of-type) {
    color: white;
}

.user-info .user-info__name {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: calc(100% - 10px * 2);
    min-height: 20vh;
}

.user-info .user-info__email {
    display: flex;
    align-items: center;
}

.email__items {
    display: flex;
    flex-direction: column;
}

.change_email {
    min-width: 100%;
    margin-left: 50%;
}

.change_email_button {
    font-family: 'Open Sans';
    font-size: 40px;
    border-radius: 40px;
    width: 20%;
    color: white;
    background-color: rgba(0, 0, 0, 0.807);
}

.user-info .user-info__subscription {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}



@media only screen and (max-width: 500px) {
    .header-dark h1 {
        margin-left: -40%;
    }

    .change_email {
        width: 30px;
        min-width: 30px;
    }

    .key {
        margin-left: -10px;
        color: gray;
    }

    .value {
        margin-left: -10px;
    }

    .change_email_button {
        position: absolute;
        right: 20px;
        width: 30%;
        font-size: 20px;
        top: 290px;
    }
}