* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: black;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.site-toolbar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black 1px;
}

.dropdown .dropdown__content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background: white;
    right: 0px;
    z-index: 1;
}

.dropdown .dropdown__content .dropdown__content__link {
    display: block;
    border-radius: 5px;
    font-size: 24px;
    color: black;
    padding: 12px;
    text-align: left;
}

.dropdown__content .dropdown__content__link:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown__content {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-dark {
    padding: 1rem;
    flex: 0 0 auto;
    background: #282828;
    width: 100%;
}

.navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links .navigation-links__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: gray;
}

.navigation-links .navigation-links__icon:hover {
    color: white;
}

.navigation-links .navigation-links__icon:hover svg:hover {
    fill: white;
    stroke: white;
}

.navigation-links .navigation-links__icon .navigation-links--title {
    color: gray;
    font-size: 20px;
}

.navigation-links .navigation-links__icon .navigation-links--title:hover {
    color: white;
}

h1 {
    color: white;
    font-size: 32px;
}

h2 {
    color: white;
    font-size: 42px;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}


@media only screen and (max-width: 500px) {}