.login_page h1 {
    font-size: 44px;
}

.login_page img {
    margin-top: 3rem;
}

.login-btn {
    margin: 3rem auto auto;
    background-color: green;
    color: white;
    padding: 1rem 2rem;
    border-radius: 50%;
    font-size: 50px;
}

.login-btn:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.site-toolbar {
    display: none !important;
}

footer {
    display: none;
}