.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h1 {
    font-size: 52px;
    margin-bottom: 3rem;
}

.register-form label {
    font-size: 32px;
    margin-bottom: 0.5rem;
}

.register-form input {
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.register-form input[type="password"] {
    margin-bottom: 1rem;
}

.register-form input[type="submit"] {
    width: 50%;
    margin: auto;
    background-color: green;
    color: white;
    font-size: 24px;
}

.register-form input[type="submit"]:hover {
    background: lightgreen;
}

.login-link {
    margin-top: 0.6rem;
    color: white;
    font-size: 20px;
}

.login-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .register-form h1 {
        font-size: 36px;
    }
}